.related-items {
    margin-top: 90px;
    margin-bottom: 30px;
    padding: 0 .625rem;
}

.related-items h3 {
    margin-bottom: 30px;
}


.related-items--wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.250rem;
}

.item .item--image {
    width: 100%;
}

.item .item--image img {
    width: 100%;
}

.item .item--title {
    font-size: var(--tainacan-base-font-size);
    color:     var(--tainacan-secondary);
    background-color: var(--tainacan-primary);
    padding: 12px;
}